{% extends 'base.html' %}
{% load static %}
{% load form_utils %}
{% block content %}
    <style>
        .panel-success {
            background: #00b517;
            color: whitesmoke;
        }

        .panel-info {
            background: #2aabd2;
            color: whitesmoke;
        }

        .panel-warning {
            background: #ffc900;
            color: whitesmoke;
        }

        .panel-default {
            background: #7a7a7a;
            color: whitesmoke;
        }

        h1.pull-left {
            font-size: 4.8em;
        }
    </style>
    <div id="top" class="row">
        <div class="col-sm-12">
            <h2> Top Clientes do Ano</h2>
        </div>
    </div> <!-- /#top -->
    <hr/>
    <div id="list" class="row">
        <div class="col-md-12">
            <table id="table" class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>CLIENTE</th>
                    <th>NUM PEDIDOS</th>
                    <th>RECEITA GERADA</th>
                    <th>TELEFONE</th>
                    <th>EMAIL</th>
                </tr>
                </thead>
                <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td><a href="{% url 'CLIENTE_detail' cliente.id %}">{{ cliente.id }}</a></td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente|num_pedidos }}</td>
                        <td>{{ cliente|receita_gerada }}</td>
                        <td>{{ cliente.telefone }}</td>
                        <td>{{ cliente.email }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">Nenhum cliente</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div> <!-- /#list -->
    <script type="text/javascript">

        $(document).ready(function () {

            $('input,select').addClass('form-control');

            $('#id_data_inicial').attr('type', 'date');
            $('#id_data_final').attr('type', 'date');

            $('#dashboard_link').addClass('active');

            $('#table').DataTable({
                "info": true,
                "lengthChange": true,
                "pageLength": 10,
                responsive: true,
                dom: "<'row' <'col-xs-6'l><'col-xs-6'f>>rt<'row' <'col-xs-6'Bi><'col-xs-6'p>>",
                "buttons": [
                    'copy', 'excel', 'pdf'
                ],
                order: [[0, "desc"]],
                "language": {
                    "lengthMenu": "Exibir _MENU_ registros por página",
                    "zeroRecords": "Nenhum item encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "emptyTable": "Sem dados disponíveis na tabela",
                    "infoFiltered": "(filtrado do total de _MAX_ registros)",
                    "thousands": ".",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ativar para classificar a coluna ascendente",
                        "sortDescending": ": ativar para classificar a coluna descendente"
                    }
                }
            });
        });
    </script>

{% endblock %}
