<li id="dashboard_link"><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li id="pedido_link"><a href="{% url 'PEDIDO_list' %}">Pedidos</a></li>
<li id="cliente_link"><a href="{% url 'CLIENTE_list' %}">Clientes</a></li>
<li id="orcamento_link"><a href="{% url 'ORCAMENTO_list' %}">Orçamentos</a></li>
{#<li id="vendedor_link"><a href="{% url 'VENDEDOR_list' %}">Vendedor</a></li>#}
<li id="item_link"><a href="{% url 'ITEM_list' %}">Itens</a></li>

{#<li id="itemorcamento_link"><a href="{% url 'ITEMORCAMENTO_list' %}">ItemOrcamento</a></li>#}
